<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net"/>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="MesswerteEntities1" connectionString="metadata=res://*/DBMesswerte.csdl|res://*/DBMesswerte.ssdl|res://*/DBMesswerte.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MYSNWIN7\SQLEXPRESS;initial catalog=Messwerte;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <log4net>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="LogFileAppender" />
    </root>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender" >
      <param name="File" value="C:\Users\Christoph\Documents\Visual Studio 2012\Projects\Heli.Scada.dal\log.txt" />
      <param name="AppendToFile" value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%-5p%d{yyyy-MM-dd hh:mm:ss} – %m%n" />
      </layout>
    </appender>
  </log4net>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- Bei der Bereitstellung des Dienstbibliothekprojekts muss der Inhalt der Konfigurationsdatei der app.config-Datei 
  des Hosts hinzugefügt werden. System.Configuration unterstützt keine Konfigurationsdateien für Bibliotheken. -->
  <system.serviceModel>
    <services>
      <service name="Heli.Scada.SoapService.SoapService"  behaviorConfiguration="SoapServiceBehaviour">
        <endpoint address="" binding="basicHttpBinding" contract="Heli.Scada.SoapService.ISoapService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/SoapService/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name ="SoapServiceBehaviour">
         
           <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">

    <alias alias="ICustomerRepository" type="Heli.Scada.DalInterfaces.ICustomerRepository`1, Heli.Scada.DalInterfaces" />
    <alias alias="IEngineerRepository" type="Heli.Scada.DalInterfaces.IEngineerRepository`1, Heli.Scada.DalInterfaces" />
    <alias alias="IInstallationRepository" type="Heli.Scada.DalInterfaces.IInstallationRepository`1, Heli.Scada.DalInterfaces" />
    <alias alias="IMeasurementRepository" type="Heli.Scada.DalInterfaces.IMeasurementRepository`1, Heli.Scada.DalInterfaces" />
    <alias alias="IMeasurementTypeRepository" type="Heli.Scada.DalInterfaces.IMeasurementTypeRepository`1, Heli.Scada.DalInterfaces" />

    <alias alias="CustomerRepository" type="Heli.Scada.dal.CustomerRepository, Heli.Scada.dal" />
    <alias alias="EngineerRepository" type="Heli.Scada.dal.EngineerRepository, Heli.Scada.dal" />
    <alias alias="InstallationRepository" type="Heli.Scada.dal.InstallationRepository, Heli.Scada.dal" />
    <alias alias="MeasurementRepository" type="Heli.Scada.dal.MeasurementRepository, Heli.Scada.dal" />
    <alias alias="MeasurementTypeRepository" type="Heli.Scada.dal.MeasurementTypeRepository, Heli.Scada.dal" />

    <alias alias="ICustomerBL" type="Heli.Scada.BLInterfaces.ICustomerBL, Heli.Scada.BLInterfaces" />
    <alias alias="IEngineerBL" type="Heli.Scada.BLInterfaces.IEngineerBL, Heli.Scada.BLInterfaces" />
    <alias alias="IStatisticService" type="Heli.Scada.BLInterfaces.IStatisticService, Heli.Scada.BLInterfaces" />
    <alias alias="IRestServiceBL" type="Heli.Scada.BLInterfaces.IRestServiceBL, Heli.Scada.BLInterfaces" />

    <alias alias="CustomerBL" type="Heli.Scada.BL.CustomerBL, Heli.Scada.BL" />
    <alias alias="EngineerBL" type="Heli.Scada.BL.EngineerBL, Heli.Scada.BL" />
    <alias alias="StatisticService" type="Heli.Scada.BL.StatisticService, Heli.Scada.BL" />
    <alias alias="RestServiceBL" type ="Heli.Scada.BL.RestServiceBL, Heli.Scada.BL" />

    <alias alias="CustomerModel" type="Heli.Scada.Entities.CustomerModel, Heli.Scada.Entities" />
    <alias alias="EngineerModel" type="Heli.Scada.Entities.EngineerModel, Heli.Scada.Entities" />
    <alias alias="InstallationModel" type="Heli.Scada.Entities.InstallationModel, Heli.Scada.Entities" />
    <alias alias="MeasurementModel" type="Heli.Scada.Entities.MeasurementModel, Heli.Scada.Entities" />
    <alias alias="MeasurementTypeModel" type="Heli.Scada.Entities.MeasurementTypeModel, Heli.Scada.Entities" />
    <container>

      <register type="ICustomerRepository[CustomerModel]" mapTo="CustomerRepository" />
      <register type="IEngineerRepository[EngineerModel]" mapTo="EngineerRepository" />
      <register type="IInstallationRepository[InstallationModel]" mapTo="InstallationRepository" />
      <register type="IMeasurementRepository[MeasurementModel]" mapTo="MeasurementRepository" />
      <register type="IMeasurementTypeRepository[MeasurementTypeModel]" mapTo="MeasurementTypeRepository" />

      <register type="ICustomerBL" mapTo="CustomerBL" />
      <register type="IEngineerBL" mapTo="EngineerBL" />
      <register type="IStatisticService" mapTo="StatisticService" />
      <register type="IRestServiceBL" mapTo="RestServiceBL" />
    </container>
  </unity>
</configuration>
